language: ruby
rvm:
  - 2.0.0
  - 2.1.0
  - 2.2.0
  - 2.2.3
  - 2.3.1

before_install:
  - gem update --system
  - gem --version
  - gem install bundler
  - bundler --version

script: bundle exec rake test

branches:
  only:
    - master
    - development

gemfile:
  - gemfiles/activemodel_4_0.gemfile
  - gemfiles/activemodel_4_1.gemfile
  - gemfiles/activemodel_4_2.gemfile
  - gemfiles/activemodel_5_0.gemfile

matrix:
  exclude:
  - rvm: 2.0.0
    gemfile: gemfiles/activemodel_5_0.gemfile
    env: ISOLATED=true
  - rvm: 2.1.0
    gemfile: gemfiles/activemodel_5_0.gemfile
    env: ISOLATED=true
  - rvm: 2.2.0
    gemfile: gemfiles/activemodel_5_0.gemfile
    env: ISOLATED=true
